<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.bank.dao.ExampleDao">
    <resultMap id="testMap" type="com.project.bank.dto.Example">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="address" column="address"/>
    </resultMap>
    <select id="getTestById" parameterType="com.project.bank.dto.Example" resultMap="testMap">
        select * from example where id=#{id}
    </select>
    <select id="getExampleById" resultMap="testMap" parameterType="com.project.bank.dto.Example">
        delete from test where id=#{id}
    </select>
    <select id="getUpdateById" parameterType="com.project.bank.dto.Example" resultMap="testMap">
        UPDATE test SET id=5 ,name=6 WHERE id=#{id}
    </select>
    <select id="getAddById" parameterType="com.project.bank.dto.Example" resultMap="testMap">
        INSERT INTO test (id,name) VALUES( #{id},#{name})
    </select>
</mapper>