<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.bank.dao.StudentDao">
    <resultMap id="stuMap" type="com.project.bank.dto.Student">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="age" column="age"/>
        <result property="tid" column="tid"/>
        <association property="teacher" column="tid" select="com.project.bank.dao.TeacherDao.selById"></association>
    </resultMap>
    <select id="getStudentById" parameterType="com.project.bank.dto.Student" resultMap="stuMap">
        select * from student
    </select>
</mapper>